.container{
    background-color:#1d1d1d;
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    color: #F5F0EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:2;
}

.title{ 
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 10px;
}

.subtitle{
    font-family: "Bodoni Moda", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-style: italic;
}