.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    a{
        font-family: "Syncopate", sans-serif;
        font-size: 24px;   
        display: inline-block;
        font-weight: 600;
        letter-spacing: 1px;
        color: #434343;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}