.container{
    padding: 100px 0;
}

.title{
    font-family: "Syncopate",sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    color: #464646;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text{
    font-size: 65px;
    font-family: "Poppins" , sans-serif;
    line-height: 1.18;
    display: inline-block;
    letter-spacing: 1px;
}