.container{
    margin: 100px 0;
}

.title{
    font-size: 1rem;
    font-family: "Syncopate",sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    color: #464646;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text{
    font-size: 4.5rem;
    font-family: "Poppins" , sans-serif;
    line-height: 1.12;
}