.container{
    padding: 100px 0 200px;
    opacity: 0;
}

.title{
    font-size: 1rem;
    font-family: "Syncopate", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 1px;
}   

.text{
    font-size: 18vw;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bodoni Moda", sans-serif;
    opacity: 0;
}

.isReveal{
 opacity: 1;
 transition: 1s ease all;
}